{% extends "base.html" %}
{% block title %}{{ block.super }} 初級 {% endblock %}
{% block content %}
<div class="back-container">
    <div class="cross-word">
        {{ block.super }}
        <h2 class="level"> 初級 その壱 </h2>
        <div class="container" style="--items: 3">
            <div class="item">
                <p>1</p>
                <input class="input-odd"></input>
            </div>
            <div class="item">
                <p>2</p>
                <input class="input-child"></input>
                </div>
            <div class="item">
                <p>-</p>
                <input class="input-odd"></input>
            </div>
            <div class="item">
                <p>-</p>
                <input class="input-child"></input>
                </div>
            <div class="item">
                <p>-</p>
                <input class="input-odd"></input>
            </div>
            <div class="item">
                <p>-</p>        
                <input class="input-child"></input>
                </div>
            <div class="item">
                <p>3</p>
                <input class="input-odd"></input>
            </div>
            <div class="item">
                <p>-</p>        
                <input class="input-child"></input>
                </div>
            <div class="item">
                <p>-</p>
                <input class="input-odd"></input>
            </div>
        </div>
        <ul>
            <li class="hint">ヒント1:ネットワークアーキテクチャを構成する7階層のモデル</li>
            <li class="hint">ヒント2:Web上で社会的ネットワークを構築可能にするサービス</li>
            <li class="hint">ヒント3:暗号や認証の技術を利用して、安全にリモートコンピュータと通信するためのプロトコル</li>
        </ul>
        <div class="ans-form">
            <form method="POST">
                {% csrf_token %}
                <input class="ans-box" type="value" id='word' name="word"/>
                <button type="submit">決定</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}