body{
    margin: 0; padding: 0;
    background-color: rgba(0,170,170, 0.1);
    background-color: rgb(10, 200, 200);
    /* background-image: linear-gradient(45deg, rgba(0,170,170, 0.1)25%, transparent 25%, transparent 75%, rgba(0,170,170, 0.1)75%, rgba(0,170,170, 0.1)),
    linear-gradient(45deg, rgba(0,170,170, 0.1)25%, transparent 25%, transparent 75%, rgba(0,170,170, 0.1)75%, rgba(0,170,170, 0.1));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px; */
}

span {
    text-shadow: 
        0.1em 0.12em 0 black,  
		0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
    font-size:120%;
    color: yellow;
}

/* 画面上部のタイトル */
.title {
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 30px;
    color:rgba(40, 250, 250);
    font-size: 300%;
    text-shadow: 
        0.1em 0.12em 0 black, 
		0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}


.title-a {
    text-decoration: none;
    color:rgba(40, 250, 250);
    border-radius: 6px;
    
}

/* .title-a:hover {
    position:relative;
    top: 2px;
    left:2px;
} */

/* 画面上部レベル表示 */
.level {
    text-align: center;
    padding-bottom: 10px;
    color:rgba(40, 250, 250);
    text-shadow: 
    0.1em 0.12em 0 black, 
    0.08em 0.05em 0 rgba(0, 0, 0);
}

/* 画面下部ヒント表示 */

/* .hint-title {
    float:right;
    width:35%;
    list-style: none;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: yellow;
    margin-right: 15%;
    text-shadow: 
    0.1em 0.12em 0 black, 
    0.08em 0.05em 0 rgba(0, 0, 0);
    
} */

/* .hint {
    float:right;
    width: 35%;
    overflow-wrap: normal;
    list-style: none;
    padding-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: gray;
    margin-right: 15%;
    text-shadow: 
    0.1em 0.12em 0 black, 
    0.08em 0.05em 0 rgba(0, 0, 0);   
} */


/* 説明 */
.explanation {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: yellow;
    text-shadow: 
    0.1em 0.12em 0 black, 
    0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
}

/* 画面下部答え入力画面 */
/* .ans-form {
    margin:  70px auto auto auto;
    display: block;
    width: 330px;
    padding-bottom: 50px;
    clear: both;
} */

/* 答え入力フォーム */
/* .ans-box {
    margin: auto;
    font-size: 150%;
    width: 70%;
    background-color: rgba(0, 170, 170, 0.2);
    border-radius: 12px;
} */

/* 回答正解時の答え */
/* .ans {
    color: yellow;
    text-shadow: 
    0.1em 0.12em 0 black,  
    0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
} */

/* 決定ボタン */
button {
    margin-left: 20px;
    background-color: rgba(0, 170, 170, 0.2);
    border-radius:6px;
    text-decoration: none;
    float:left;
}

/* 背景 */
.back-container {
    height: 100%;
    border-radius: 12px;
    margin-top: 0;
}

/* .content-horizonal{
    display: inline-block;
    float: left;
/* } */ 

/* クロスワードのボード、サイズ、範囲 */
/* .container {
    display: grid;
    grid-template-columns: repeat(var(--items), min(calc(49vh/var(--items)), calc(49vw/var(--items))));
    grid-template-rows: repeat(var(--items), min(calc(49vh/var(--items)), calc(49vw/var(--items))));
    align-content: center;
    justify-content: center;
    float: left;
    width: 32%;
    margin-left: 18%;
} */

/* クロスワードのマスに書かれたヒント */
/* .hint-header {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 16px;
    color: rgb(70, 70, 70);
    display: inline;
} */

/* .hint-header-s {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 12px;
    color: rgb(70, 70, 70);
    display: inline;
    float: right;
} */

/* 何も書き込まないブロック */
/* .item-none {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.6);

} */
/* rgb(130, 130, 130, 0.7) */

/* grayブロック */
/* .item-gray {
    background-color: rgb(230, 230, 230);
    border: 1px solid rgba(0, 0, 0, 0.6);
} */

/* whiteブロック */
/* .item-white {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.6);
    
} */

/* inputスペース */
/* .input-easy {
    background-color: rgb(240, 240, 240, 0);
    border: rgb(240, 240, 240);
    font-size: 300%;
    max-width: 40%;
    margin-left: 30%;
    color: rgb(70, 70, 70);
} */

/* .input-nomal {
    background-color: rgb(240, 240, 240, 0);
    border: rgb(240, 240, 240);
    font-size: 200%;
    max-width: 40%;
    margin-left: 30%;
    color: rgb(70, 70, 70);
} */

/* .input-hard {
    background-color: rgb(240, 240, 240, 0);
    border: rgb(240, 240, 240);
    font-size: 150%;
    max-width: 40%;
    margin-left: 30%;
    color: rgb(70, 70, 70);
} */


/* .clearfix:after {
    content: "";         擬似要素を実体化
    clear: both;        floatを解除する
    display: block;     ブロック要素にする
} */

/* クリック時のアウトライン設定 */
/* :focus {
    outline: none;
} */

/* Pタグ */
/* p {
    margin: 0%;
} */

/* 戻るボタン */
/* .ans-button {
    font-size: 100%;
    padding: 0 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
    font-weight: bold;
    background-color: rgba(0, 170, 170,0.2);

} */

/* カーソルを合わせたときに表示を変える */
/* .ans-button:hover{
    background-color: rgba(0, 170, 170,0.3);

} */

/* 答えのフォーム */
/* .clearfix.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    float: right;
    width: 50%;
    margin-right: 10%;
} */

/* .box {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 200px;
    margin: 5px;
    padding: 12px;
} */

/* ヘッダー部分の作成 */
header {
    position: fixed;
    margin-top: 0;
    margin-right: 20px;
    width: 100%;

}

.d-flex {
    background: linear-gradient(rgba(30, 170, 170, 0.9), rgba(0, 170, 170,0));
    /* background: linear-gradient(rgba(66, 66, 66, 0.9), rgba(255, 255, 255, 0)); */
    height:60px;
    margin: 0; padding: 0;
    background-image: linear-gradient(45deg, rgba(0,170,170, 0.2)25%, transparent 25%, transparent 75%, rgba(0,170,170, 0.2)75%, rgba(0,170,170, 0.2)),
    linear-gradient(45deg, rgba(0,170,170, 0.2)25%, transparent 25%, transparent 75%, rgba(0,170,170, 0.2)75%, rgba(0,170,170, 0.2));
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.p-1 {
    color: rgb(10, 250, 250);
    text-decoration: none;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 20px;
    text-align: center;
    float: left;
    font-size: 36px;
    font-weight: bold;
	line-height:0.95em;
	text-shadow: 
        0.1em 0.12em 0 black, 
		0.08em 0.05em 0 rgba(0, 0, 0, 0.6);
        
}

.p-1:hover{
    position:relative;
    top: 2px;
    left:2px;
}

.p-2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    float: right;
    font-size: 18px;
}
/* ヘッダー */
.header-content {
    color:rgb(100, 250, 250);
    font-weight: bold;
    text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.header-content:hover {
    color: white;
    font-weight: bold;
    position:relative;
    top: 2px;
    left:2px;

}
/* levelアプリ用CSS */
/* 要素を真ん中に */
.center {
    display: flex;
    justify-content: center;
}

/* table {
    display: block;
    width: 70px;
    align-items: center;
    margin:0 auto;
    margin-left: auto;
    margin-right: auto;
} */

/* 問題のところの微調整 */
/* .question {
    margin-right: 50px;
    float:left;
    display: flex;
    width: 100px;
    margin:auto;
    list-style: none;

} */

.btn-list {
    height:40px;
    /* margin-left: 20px; */
    background-color: rgba(0, 170, 170, 0.2);
    border-radius:6px;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width:100%
}

.h3-center{
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: auto;
}

/* ボタンを縦に配置 */
/* .btn-height {
    display:flex;
    flex-flow: column;
    align-items: center;
    width:100%;
    justify-content: center;

} */

/* 要素を横に配置 */
.beside {
    float: left;
    text-align: center;
    width:30%;
    margin: auto;
    } 

.btn {
    text-decoration: none;
}

