{% extends './base.html' %}
{% block content %}

<!-- cross_wordページに直接URLで遷移するためのもの -->
<!-- <a href="http://localhost:8004/cross_word/">
  <button type="button" class="btn mx-auto btn-wrapper btn-success">
    問題1
  </button> 
</a> -->

<!-- データーベースから取り出したい！ -->
<table class="table" style="border-collapse: collapse">
  <tr>
      <th>問題一覧</th>
  </tr>
  {% for item in friend %}
  <tr>
      <td>{{item.name}}</td>
      <!-- <td>{{item.age}}</td> -->
      <!-- <td><input type="button" class="btn mx-auto btn-wrapper btn-success">{{item.age}}</td> -->
  <tr>
{% endfor %}
</table>
{% endblock content %}