{% extends "./base.html" %}
{% block title %}{{ block.super }} 初級 {% endblock %}
{% block content %}
<!-- 上級問題選択画面 -->
<div class="back-container">
  <div class="level">
    {{ block.super }}
    <h2>上級問題一覧</h2>
    <div class="question-group">
      問題１
        <a class="title-a font-fix" type="button" href="{% url 'cross_word:hard' %}"><span>挑戦する！</span></a><br>
    </div>
    <div class="question-group">
      問題２
      <a class="title-a font-fix" type="button" href="{% url 'cross_word:hard2' %}"><span>挑戦する！</span></a>
    </div>
  </div>
</div>     
{% endblock content %}