{% extends './base.html' %}
{% load static %}
{% block content %}
    <!-- <p>難易度を選択して下さい</p>
    <a href="{% url 'level:easy' %}">初級</a>
    <a href="{% url 'level:nomal' %}">中級</a>
    <a href="{% url 'level:hard' %}">上級</a> -->
    <div class="card">
        <div class="card-title">
            <h4>難易度選択</h4>
        </div>
        <div class="card-text">
            <p>難易度を選択してください</p>
        </div>
        <div class="card-body"><a href="{% url 'level:easy' %}">初級</a></div>
        <div class="card-body"><a href="{% url 'level:easy' %}">中級</a></div>
        <div class="card-body"><a href="{% url 'level:easy' %}">上級</a></div>
    </div>
        <!-- <h4 class="card-title">難易度選択</h4>
        <p class="card-text">難易度を選択して下さい</p> -->
            <!-- <a class="card-body"><a href="{% url 'level:easy' %}">初級</a></a>
            <li class="card-body"><a href="{% url 'level:nomal' %}">中級</a></li>
            <li class="card-body"><a href="{% url 'level:hard' %}">上級</a></li> -->
{% endblock content %}