{% extends "./base.html" %}
{% block title %}{{ block.super }} 初級 {% endblock %}
{% block content %}
<div class="back-container">
    <div class="cross-word">
        {{ block.super }}
        <h2 class="level"> 初級 その壱 </h2>
        <div>
            <h1 class="explanation">-----　正解！！　-----</h1>
        </div>
        <div class="container" style="--items: 3">
            <div class="item">
                <li id="one" class="hint-header"></li>
                <li id="one-s" class="hint-header-s"></li>
                <input class="input-odd" value="O" maxlength="1" readonly></input>
            </div>
            <div class="item">
                <li id="two" class="hint-header"></li>
                <li id="two-s" class="hint-header-s"></li>
                <input class="input-child" value="S" maxlength="1" readonly></input>
                </div>
            <div class="item">
                <li id="three" class="hint-header"></li>
                <li id="three-s" class="hint-header-s"></li>
                <input class="input-odd" value="I" maxlength="1" readonly></input>
            </div>
            <div class="item-none">
                <li id="four" class="hint-header"></li>
                <li id="four-s" class="hint-header-s"></li>
                <input class="input-none" value="" maxlength="1" readonly></input>
                </div>
            <div class="item">
                <li id="five" class="hint-header"></li>
                <li id="five-s" class="hint-header-s"></li>
                <input class="input-odd" value="N" maxlength="1" readonly></input>
            </div>
            <div class="item-none">
                <li id="six" class="hint-header"></li>
                <li id="six-s" class="hint-header-s"></li>
                <input class="input-none" value="" maxlength="1" readonly></input>
                </div>
            <div class="item">
                <li id="seven" class="hint-header"></li>
                <li id="seven-s" class="hint-header-s"></li>
                <input class="input-odd" value="S" maxlength="1" readonly></input>
            </div>
            <div class="item">
                <li id="eight" class="hint-header"></li>
                <li id="eight-s" class="hint-header-s"></li>
                <input class="input-child"value="S" maxlength="1" readonly></input>
                </div>
            <div class="item">
                <li id="nine" class="hint-header"></li>
                <li id="nine-s" class="hint-header-s"></li>
                <input class="input-odd"value="H" maxlength="1" readonly></input>
            </div>
        </div>
        <div class="warpper">
            <div class="box1">
                <ul>
                    <li class="hint">横のヒント</li>
                    {% for item in horizonal %}
                    <li class="hint">{{ item.hint }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box2">
                <ul>
                    <li class="hint">縦のヒント</li>
                    {% for item in vertical %}
                    <li class="hint">{{ item.hint }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="ans-form">
            <h1>答え : {{ ans }}</h1>
            <div>
            <p class="explanation">OSS(Open Source Software)は,ソフトウェアのソースコードが一般に公開され、商用および非商用の目的を問わずソースコードの利用・修正・再頒布が可能なソフトウェアと定義される。オープンソースライセンスが課せられたソフトウェアやパブリックドメインに置かれたソースコードとそのソフトウェアなどがそれに当たる。</p>
            </div>
            <a class= "ans-button" href="{% url 'cross_word:index' %}">戻る</a>
        </div>
    </div>
</div>

{% endblock %}