<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        {% load static %}
        <link rel="stylesheet" type = "text/css" href="{% static 'css/cross_word/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}クロスワードアプリ{% endblock %}</title>
    </head>
    <body>
        {% block content %}
            <header>
                <div class="d-flex">
                    <div class="p-1"><span>IT</span>クロスワード</div>
                    <div class="p-2">
                        <a class="header-content" href="{% url 'user:login' %}">ログアウト</a>
                    </div>
                    <div class="p-2">
                        <a class="header-content" href="{% url 'level:select' %}">Home</a>
                    </div>  
                </div>
            </header>
            <h1 class="title"><span>IT</span> クロスワード</h1>
        {% endblock %}
    </body>
</html>