{% extends "./base.html" %}
{% block title %}{{ block.super }} 初級 {% endblock %}
{% block content %}
<div class="back-container">
    <div class="cross-word">
        {{ block.super }}
        <h2 id="level" class="level"></h2>
        <div>
            <p class="explanation">以下のクロスワードを埋めて、数字の振ってあるマスの文字を順番に入力して回答しよう</p>
        </div>
        <div class="container" style="--items: 3">
            <div class="item">
                <li id="one" class="hint-header"></li>
                <li id="one-s" class="hint-header-s"></li>
                <input class="input-odd" maxlength="1"></input>
            </div>
            <div class="item">
                <li id="two" class="hint-header"></li>
                <li id="two-s" class="hint-header-s"></li>
                <input class="input-child" maxlength="1"></input>
                </div>
            <div class="item">
                <li id="three" class="hint-header"></li>
                <li id="three-s" class="hint-header-s"></li>
                <input class="input-odd" maxlength="1"></input>
            </div>
            <div class="item-none">
                <li id="four" class="hint-header"></li>
                <li id="four-s" class="hint-header-s"></li>
                <input class="input-none" maxlength="1"></input>
                </div>
            <div class="item">
                <li id="five" class="hint-header"></li>
                <li id="five-s" class="hint-header-s"></li>
                <input class="input-odd" maxlength="1"></input>
            </div>
            <div class="item-none">
                <li id="six" class="hint-header"></li>
                <li id="six-s" class="hint-header-s"></li>
                <input class="input-none" maxlength="1"></input>
                </div>
            <div class="item">
                <li id="seven" class="hint-header"></li>
                <li id="seven-s" class="hint-header-s"></li>
                <input class="input-odd" maxlength="1"></input>
            </div>
            <div class="item">
                <li id="eight" class="hint-header"></li>
                <li id="eight-s" class="hint-header-s"></li>
                <input class="input-child" maxlength="1"></input>
                </div>
            <div class="item">
                <li id="nine" class="hint-header"></li>
                <li id="nine-s" class="hint-header-s"></li>
                <input class="input-odd" maxlength="1"></input>
            </div>
        </div>
        <div class="clearfix warpper">
            <div class="box1">
                <ul>
                    <li class="hint">横のヒント</li>
                    {% for item in horizonal %}
                    <li class="hint">{{ item.hint }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box2">
                <ul>
                    <li class="hint">縦のヒント</li>
                    {% for item in vertical %}
                    <li class="hint">{{ item.hint }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="ans-form">
            <form method="POST">
                {% csrf_token %}
                <input class="ans-box" type="value" id='word' name="word" maxlength="3"/> 
                <button type="submit">決定</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}