{% extends "./base.html" %}
{% block title %}{{ block.super }} 上級 {% endblock %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static '/js/hard/hard2.js' %}"></script>
<div class="back-container">
    <div class="cross-word">
        {{ block.super }}
        <h2 id="level" class="level"></h2>
        <div>
            <h1 class="explanation">{{ explanation }}</h1>
        </div>
        <div class="container" style="--items: 5">
            {% comment %} 1段目 {% endcomment %}
            <div class="item-gray">
                <li id="one" class="hint-header"></li>
                <li id="one-s" class="hint-header-s"></li>
                <p id="one-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-white">
                <li id="two" class="hint-header"></li>
                <li id="two-s" class="hint-header-s"></li>
                <p id="two-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="three" class="hint-header"></li>
                <li id="three-s" class="hint-header-s"></li>
                <p id="three-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-none">
                <li id="four" class="hint-header"></li>
                <li id="four-s" class="hint-header-s"></li>
                <p id="four-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="five" class="hint-header"></li>
                <li id="five-s" class="hint-header-s"></li>
                <p id="five-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            {% comment %} 2段目 {% endcomment %}
            <div class="item-none">
                <li id="six" class="hint-header"></li>
                <li id="six-s" class="hint-header-s"></li>
                <p id="six-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="seven" class="hint-header"></li>
                <li id="seven-s" class="hint-header-s"></li>
                <p id="seven-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-none">
                <li id="eight" class="hint-header"></li>
                <li id="eight-s" class="hint-header-s"></li>
                <p id="eight-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="nine" class="hint-header"></li>
                <li id="nine-s" class="hint-header-s"></li>
                <p id="nine-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-white">
                <li id="ten" class="hint-header"></li>
                <li id="ten-s" class="hint-header-s"></li>
                <p id="ten-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            {% comment %} 3段目 {% endcomment %}
            <div class="item-gray">
                <li id="eleven" class="hint-header"></li>
                <li id="eleven-s" class="hint-header-s"></li>
                <p id="eleven-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-white">
                <li id="twelve" class="hint-header"></li>
                <li id="twelve-s" class="hint-header-s"></li>
                <p id="twelve-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            
            <div class="item-gray">
                <li id="thirteen" class="hint-header"></li>
                <li id="thirteen-s" class="hint-header-s"></li>
                <p id="thirteen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-none">
                <li id="fourteen" class="hint-header"></li>
                <li id="fourteen-s" class="hint-header-s"></li>
                <p id="fourteen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="fifteen" class="hint-header"></li>
                <li id="fifteen-s" class="hint-header-s"></li>
                <p id="fifteen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            {% comment %} 4段目 {% endcomment %}
            <div class="item-white">
                <li id="sixteen" class="hint-header"></li>
                <li id="sixteen-s" class="hint-header-s"></li>
                <p id="sixteen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-none">
                <li id="seventeen" class="hint-header"></li>
                <li id="seventeen-s" class="hint-header-s"></li>
                <p id="seventeen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-white">
                <li id="eighteen" class="hint-header"></li>
                <li id="eighteen-s" class="hint-header-s"></li>
                <p id="eighteen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="nineteen" class="hint-header"></li>
                <li id="nineteen-s" class="hint-header-s"></li>
                <p id="nineteen-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-none">
                <li id="twenty" class="hint-header"></li>
                <li id="twenty-s" class="hint-header-s"></li>
                <p id="twenty-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            {% comment %} 5段目 {% endcomment %}
            <div class="item-gray">
                <li id="twenty-one" class="hint-header"></li>
                <li id="twenty-one-s" class="hint-header-s"></li>
                <p id="twenty-one-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-white">
                <li id="twenty-two" class="hint-header"></li>
                <li id="twenty-two-s" class="hint-header-s"></li>
                <p id="twenty-two-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-none">
                <li id="twenty-three" class="hint-header"></li>
                <li id="twenty-three-s" class="hint-header-s"></li>
                <p id="twenty-three-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-white">
                <li id="twenty-four" class="hint-header"></li>
                <li id="twenty-four-s" class="hint-header-s"></li>
                <p id="twenty-four-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            <div class="item-gray">
                <li id="twenty-five" class="hint-header"></li>
                <li id="twenty-five-s" class="hint-header-s"></li>
                <p id="twenty-five-value" class="input-hard" maxlength="1" readonly></p>
            </div>
            {% comment %}  {% endcomment %}
        </div>
        <div class="warpper">
            <div class="box1">
                <ul>
                    <li class="hint-title">横のヒント</li>
                    {% for item in horizonal %}
                    <li class="hint">{{ item.hint }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="box2">
                <ul>
                    <li class="hint-title">縦のヒント</li>
                    {% for item in vertical %}
                    <li class="hint">{{ item.hint }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="ans-form">
            {% comment %} {% for some in something %} {% endcomment %}
            <h2 class="ans">答え : {{ some.crossword_ans }}</h2>
            <div>
            <p class="explanation">{{ some.crossword_ans_comment }}</p>
            </div>
            <a class= "ans-button" href="{% url 'cross_word:hard2' %}">戻る</a>
            {% comment %} {% endfor %} {% endcomment %}
        </div>
    </div>
</div>

{% endblock %}